@model Student
@{
    ViewData["Title"] = "Öğrenci Ekleme Sayfası";
}

<form asp-action="Create">

    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Surname"></label>
        <input asp-for="Surname" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="StudentClass"></label>
        <input asp-for="StudentClass" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Kaydet</button>
    <a asp-controller="Students" asp-action="Index" class="btn-danger">İptal</a>
</form>

