@model Student
@{
    ViewData["Title"] = "Edit";
}

<h2>Edit Student</h2>

<form asp-action="Edit">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Surname"></label>
        <input asp-for="Surname" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="StudentClass"></label>
        <input asp-for="StudentClass" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Güncelle</button>
    <a asp-controller="Students" asp-action="Index" class="btn btn-danger">İptal</a>
</form>

